:root{
    --branco:#ffffff;
    --cinza:#c0c0c0;
    --botao:#167bf7;
    --background-color:#00030c;
}
body{
    background-color:var(--backgrsund);
    color:var(--branco)
}
*{
    margin:0;
    padding:0;
}

